/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 80px;
  padding-bottom: 20px;
}

tr {
	height: 80px;
}

td {
	vertical-align: middle !important;
	font-size: 18px;
}

.exchange-stage {
	vertical-align: middle !important;
	height: 150px;
}